node_modules

# local env files
.env*.local

# misc
.DS_Store
*.pem

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# next
.next

# others
.local
tsconfig.tsbuildinfo

# whatsapp bot
whatsapp-bot/dist/
